.calendar {
  background-color: #ffe9e9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.calendar .div {
  background-color: #ffe9e9;
  overflow: hidden;
  width: 390px;
  height: 844px;
  position: relative;
}

.calendar .text-wrapper {
  position: absolute;
  top: 67px;
  left: 63px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.calendar .text-wrapper-2 {
  position: absolute;
  top: 347px;
  left: 68px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: normal;
}

.calendar .group {
  top: 403px;
  position: absolute;
  width: 341px;
  height: 131px;
  left: 26px;
}

.calendar .overlap-group {
  position: relative;
  width: 337px;
  height: 131px;
  background-image: url(./img/rectangle-32.svg);
  background-size: 100% 100%;
}

.calendar .text-wrapper-3 {
  position: absolute;
  top: 51px;
  left: 36px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: normal;
}

.calendar .game-night {
  position: absolute;
  top: 40px;
  left: 237px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2.34px;
  line-height: normal;
}

.calendar .overlap-wrapper {
  top: 565px;
  position: absolute;
  width: 341px;
  height: 131px;
  left: 26px;
}

.calendar .overlap {
  position: relative;
  width: 337px;
  height: 131px;
  border-radius: 34px;
}

.calendar .rectangle {
  background-color: #222222;
  opacity: 0.1;
  position: absolute;
  width: 337px;
  height: 131px;
  top: 0;
  left: 0;
  border-radius: 34px;
}

.calendar .text-wrapper-4 {
  position: absolute;
  top: 51px;
  left: 45px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: normal;
}

.calendar .family-event {
  position: absolute;
  top: 40px;
  left: 230px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2.34px;
  line-height: normal;
}

.calendar .overlap-group-wrapper {
  top: 147px;
  position: absolute;
  width: 341px;
  height: 131px;
  left: 26px;
}

.calendar .rectangle-2 {
  background-color: #e60000;
  opacity: 0.2;
  position: absolute;
  width: 337px;
  height: 131px;
  top: 0;
  left: 0;
  border-radius: 34px;
}

.calendar .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  width: 95px;
  height: 68px;
  top: 24px;
  left: 28px;
}

.calendar .text {
  align-self: stretch;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: normal;
  position: relative;
  color: #000000;
}

.calendar .span {
  letter-spacing: 0.08px;
}

.calendar .NO-EVENTS-TODAY {
  position: absolute;
  top: 19px;
  left: 223px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2.34px;
  line-height: normal;
}

.calendar .overlap-2 {
  position: absolute;
  width: 390px;
  height: 89px;
  top: 756px;
  left: 0;
  background-color: #ffffff;
}

.calendar .line {
  position: absolute;
  width: 30px;
  height: 1px;
  top: 70px;
  left: 132px;
  object-fit: cover;
}

.calendar .home-fill {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 25px;
  left: 31px;
}

.calendar .chat-fill {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 25px;
  left: 223px;
}

.calendar .date-range-fill {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 25px;
  left: 127px;
}

.calendar .user {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 25px;
  left: 319px;
}

.calendar .status-bar {
  display: flex;
  width: 393px;
  height: 57px;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffe9e9;
}

.calendar .div-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0px 13px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.calendar .status-bar-time {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.calendar .text-wrapper-5 {
  width: fit-content;
  margin-top: -1px;
  font-family: var(--semibold-18pt-font-family);
  font-weight: var(--semibold-18pt-font-weight);
  font-size: var(--semibold-18pt-font-size);
  text-align: center;
  letter-spacing: var(--semibold-18pt-letter-spacing);
  line-height: var(--semibold-18pt-line-height);
  white-space: nowrap;
  position: relative;
  color: var(--1-themes-label-primary);
  font-style: var(--semibold-18pt-font-style);
}

.calendar .status-bar-dynamic {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 11px 0px 6px;
  position: relative;
  flex: 0 0 auto;
}

.calendar .hole {
  position: relative;
  width: 126px;
  height: 37px;
  background-color: var(--1-themes-system-black);
  border-radius: 100px;
}

.calendar .icons {
  display: inline-flex;
  align-items: flex-start;
  gap: 3px;
  position: relative;
  flex: 0 0 auto;
}

.calendar .img {
  position: relative;
  flex: 0 0 auto;
}
